{% if order_pk and order_key and boleto %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{% trans %}Boleto Banc&aacute;rio{% endtrans %}</h2>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>{% trans %}Vencimento{% endtrans %}</dt>
            <dd>{{ boleto.due_date|date }}</dd>

            <dt>{% trans %}Linha digit&aacute;vel{% endtrans %}</dt>
            <dd>{{ boleto.number_line }}</dd>

            <dt>{% trans %}Valor{% endtrans %}</dt>
            <dd>{{ boleto.total|money }}</dd>
        </dl>

        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="{{ url('shoop:view_boleto', order_pk=order_pk, order_key=order_key) }}" target="_blank"><i class="fa fa-barcode"></i> {% trans %}Visualizar o boleto banc&aacute;rio{% endtrans %}</a>
        </div>
    </div>
</div>

{% endif %}